<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiYAMNUcvp6BiDYs93sz3n6yEUBymq8_g</string>
	<key>GCM_SENDER_ID</key>
	<string>337843740365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobiledevWan</string>
	<key>PROJECT_ID</key>
	<string>dbmobileapp-1f398</string>
	<key>STORAGE_BUCKET</key>
	<string>dbmobileapp-1f398.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337843740365:ios:bdd042e7c8f81c5eab1384</string>
</dict>
</plist>